APP_NAME=bot-service
ENV=local

TELEGRAM_BOT_TOKEN=

JWT_SECRET=my_super_secret_key
JWT_ALG=HS256

REDIS_URL=redis://redis:6060/0
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5656//

OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=openrouter/free
OPENROUTER_SITE_URL=https://example.com
OPENROUTER_APP_NAME=bot-service